# Development tools
node_modules/
tools/ls/node_modules/
package-lock.json
tools/sws/static-web-server
tools/sws/.crates*

# Installation stage
toons/*_mini.png
data/*
data/swcache.json

# Ragaboom
lib/ragaboom.js

# JQuery
lib/jquery-*.js
lib/jquery-*.min.map
!lib/jquery-*.min.js