# Development tools
node_modules/
package-lock.json
sws/static-web-server
sws/.crates*

# Installation stage
toons/*_mini.png
data/*
data/swcache.json

# JQuery
lib/jquery-*.js
lib/jquery-*.min.map
!lib/jquery-*.min.js