.vscode/*
data/*
!data/cgdata.js
font/*
images/*
lib/*
!lib/comicgen.js
!lib/ragaboom.js
!lib/ragaboom.min.js
sounds/
tools/
toons/
styles/*
COPYRIGHT.md
index.html
LICENCE.md
manifest.json
package.json
prettier.config.js
README.md